
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

/*-----------------landingpage----------------*/

#landing {
	height: 100vh;
	padding: 0;

}

#imge {
	height: 100vh;
}

.logo {

	height: 100px; 
}









/*---------------------navbar------------------------------------*/

#navbar {
	background-color: #FBB016;
	height: 10vh;
}

#navbar a {
	color: #30251F;
	font-size: 19px;
	font-weight: bold;
}


#navbar a:hover {
	color: 	#EBECEC;
	transition: .30s;
}

#navbar .active {
	color: 	#EBECEC;
	
}

#logo1 {
	position: absolute;
	top: -23%;
	left: 0;
	height: 25vh;
}

#logo {
	position: absolute;
	top: -23%;
	left: 0;
	height: 25vh;
}

/*----------------------------------history-----------------------------*/


#home-background {
	background-image: url(../images/5.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	margin: 0;
}

#history {
	background-color: rgba(48,37,31, .75);
	color: white;
	margin-top: 100px;
}


/*-------------------------------------------------contact-----------------*/


#contact-background {
	background-image: url(../images/9.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	margin: 0;
}

.usog {
	margin-left: 159px;	
}

#conbox {
	background-color: rgba(48,37,31, .75);
	height: 73vh;
	margin-top: 7vh;
	padding: 15px;
	border-radius: 5px;
}


#botn {
	background-color: #FBB016;
	margin-bottom: 20px;
}

#sms {
	margin: 0;
	padding: 0;
	color: #EBECEC;

}

#mapa {
	width: 100%;
	border: 0;
	display: block;
	height: 15vh;
	padding-bottom: 20px;
	

}

/*--------------------------------------------------------------------footer*/

footer img {
	height: 5vh;
	padding-left: 31px;
}

footer {
	height: 50vh;
	padding: 35vh;
	margin: 0;
}

















































/*---MEDIA QUERIES-----------------------400px-----*/

@media only screen and (max-width: 400px) 
{


/*--------------------------landing -------------*/


#landing {
	height: 31vh;
}

#imge {
width: 100vh;
height: 31vh;
}


#intro {
	display: none;
}


/*--------------------history----------*/

#home-background {

height: 150vh;

}



/*----------contact------------------*/

.usog {
	margin: 19px 0 0 0;
}

#conbox {	
	height: 79vh;	
}











/*------------footer--------*/

footer {
	padding: 40px 0 0 30px;
	height: 25vh;
}

#fut {
	display: block;
	margin-bottom: 30px;
}


}

/*-------------------401px--960px--------------------*/

@media only screen and (min-width: 401px) and (max-width: 960px)
{









/*----------contact------------------*/

.usog {
	margin-left: 0;	
	margin-top: 55px;
}



/*-------------------401px--960px--------------------*/

@media only screen and (min-width: 960px)
{



}
